
ModelManifest.xml

# =========================
# Windows detritus
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac desktop service store files
.DS_Store

# SASS Compiler cache
.sass-cache

# Visual Studio 2014 CTP
**/*.sln.ide

# Visual Studio temp something
.vs/

# dotnet stuff
project.lock.json

# VS 2015+
*.vc.vc.opendb
*.vc.db

# Rider
.idea/

# Visual Studio Code
.vscode/

# Output folder used by Webpack or other FE stuff
**/node_modules/*

# SpecFlow specific
*.feature.cs
*.feature.xlsx.*
*.Specs_*.html

#####
# End of core ignore list, below put you custom 'per project' settings (patterns or path)
#####
/DCP 12/obj
/DCP8/obj
/DCP2/obj
/DCP13/obj
/DCP1/obj
/DCP 7/obj
/DCP 4/obj
/DevSkill.Web/DAL/obj
/DevSkill.Web/DataPrac/bin/Debug/netcoreapp3.0
/DevSkill.Web/DataPrac/obj
/DevSkill.Web/Models/obj
/DevSkill.Web/Devskill.ldf
/DevSkill.Web/Devskill.mdf
