@model DevskillSystem.web.Models.SubjectModels.SubjectCreateModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Add Subject</h2>
<div class="container center_div" style="width: 50rem;">
    <h2>Insert Student</h2>
    <form asp-controller="Home" asp-action="AddSubject" method="post" >
        <div class="form-group col-md-4" >
            <label asp-for="Name" class="col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name"></span>
            </div>
            <label asp-for="RegistrationOpen" class="col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="RegistrationOpen"    class="form-control"/>
                <span asp-validation-for="RegistrationOpen" ></span>
            </div>
        </div>
        <input class="btn btn-primary" type="submit" value="Save" />
    </form>
</div>

@section Styles
{
    .center_div{
    margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
    }
}