@model StudentModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
    var student = ViewData["student"] as Student;
}

<div class="container center_div" style="width: 50rem;">
    <h2>Details of  Student</h2>
    <form asp-controller="Home" asp-action="EditStudent" method="post" >
        <div class="form-group col-md-4">
            <input asp-for="Id" value="@student.Id" type="hidden"/>
            <label asp-for="Name" class="col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="Name"  class="form-control" value="@student.Name"/>
                <span asp-validation-for="Name"></span>
            </div>
            <label asp-for="DateOfBirth" class="col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="DateOfBirth"   value="@student.DateOfBirth.ToString(("{0:dd/MM/yyyy HH:mm}"))" asp-format="{0:dd/MM/yyyy HH:mm}" class="form-control"/>
                <span asp-validation-for="DateOfBirth"></span>
            </div>
            <input class="btn btn-primary" type="submit" value="Save" />
        </div>
    </form>
</div>
@section Styles
{
    .center_div{
    margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
    }
}