

@section Styles{ 
<link href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
}


<table id="tb" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
    </tfoot>
</table>

@section Scripts{ 
<script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script>
    $(document).ready(function() {
        $('#tb').DataTable({
            "processing": true,
            "serverSide": true,
            "searching": true,
            "paging": true,
            "lengthChange": true,
            "ajax": "@Url.Action("GetProductData")"
        });
    } );
</script>
}